apiVersion: v1
kind: Config
preferences: {}
current-context: {{ cluster_name }}
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://{{ hostvars[groups['masters'][0]]['ansible_' + cluster_network_interface]['ipv4']['address'] }}:{{ kube_master_api_port }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: {{ cluster_name }}
  name: {{ cluster_name }}
users:
- name: {{ cluster_name }}
  user:
    token: {{ token_value }}
